<section>
    <div class="content-wrap">
        <div id="bg">
            <img src="assets/event/archive.jpg" alt="">
            <div class="container-fluid"
                style="position: absolute; height: 90vh;  overflow: scroll; top: 2%; left: 0%;">
                <div class="row">
                    <div class="col-md-3 col-sm-4">
                        <div class="content text-center">
                            <div class="entry_img mt-5">
                                <img src="assets/icons/video.png" alt=""
                                    (click)="playStream('https://d3ep09c8x21fmh.cloudfront.net/bpclvideo/BPCLJourneyEnergisingLives.mp4')">
                                <h6>BPCL Journey Energising Lives</h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-4">
                        <div class="content text-center">
                            <div class="entry_img mt-5">
                                <img src="assets/icons/video.png" alt=""
                                    (click)="playStream('https://d3ep09c8x21fmh.cloudfront.net/bpclvideo/BPCLWomenWorkforce.mp4')">
                                <h6>BPCL Women Workforce</h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-4">
                        <div class="content text-center">
                            <div class="entry_img mt-5">
                                <img src="assets/icons/video.png" alt=""
                                    (click)="playStream('https://d3ep09c8x21fmh.cloudfront.net/bpclvideo/BPCL_FutureReady.mp4')">
                                <h6>BPCL Future Ready</h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-4">
                        <div class="content text-center">
                            <div class="entry_img mt-5">
                                <img src="assets/icons/video.png" alt=""
                                    (click)="playStream('https://d3ep09c8x21fmh.cloudfront.net/bpclvideo/CorporateVideo.mp4')">
                                <h6>Corporate Video</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<div class="modal fade" id="playVideo" tabindex="-1" role="dialog" aria-labelledby="playVideoTitle" aria-hidden="true"
    style="z-index: 9999;">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <!-- <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">{{videoName}}</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
              </button>
          </div> -->
            <div class="modal-body p-0">
                <div id="modal-video">
                    <div id="closePopup" (click)="closeModalVideo()">&times;</div>
                    <!-- <video id="video" preload="auto" [src]="videosource" width="100%" controls>
                    </video> -->
                    <!-- <video id="video" preload="auto" [src]="videosource" width="100%" controls>
                    </video> -->
                    <!-- <div id="player_container" style="position: relative; overflow: hidden; padding-top: 56.25%;">
                        <iframe [src]="https://multitvplayer.s3.amazonaws.com/belive_player/player.html?url=https://dzwvjnldrccox.cloudfront.net/709_614eb6f275d37/709_614eb6f275d37_master.m3u8" style="position:absolute;top:0;left:0;width:100%;height:100%;"  frameborder="0" allowfullscreen="true" >
                        </iframe></div> -->
                    <!-- <div class="row text-center">
                       
                        <div class="col-1">
                            <img style="cursor: pointer;" (click)="liked('like')" src="assets/img/like.png" alt="" width="50px" title="Like">
                        </div>
                        <div class="col-1">
                            <img style="cursor: pointer;" (click)="liked('dislike')" src="assets/img/dislike.png" alt="" width="50px" title="Dislike">
                        </div>
                        <div class="col-10" style="margin-top: 5px;">
                            <input style="width: 80%;float: left;" class="form-control" [(ngModel)]="msgs"
                                maxlength="60" placeholder="Write something here.." [formControl]="textMessage"
                                (keyup.enter)="commented(textMessage.value)" />
                            <button style="width: 17%;
                            height: 88%;" class="btn btn-danger" (click)="commented(textMessage.value)">Submit</button>
                        </div>
                        <div class="col-12">
                            <h5 style="color: blue; font-weight: 900;">{{this.msg}}</h5>
                         </div>
                    </div> -->
                    <div id="player_section">
                        <div id="player-wrapper" class="player-container"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>