<div id="leftMenu_section">
  <ul id="leftMenu_list">

    <li *ngFor="let rm of Leftmenu" (click)="openLeftMenu(rm.audio);likeopen(rm.name)">
      <img src="{{rm.img}}" alt="">
      <div *ngFor="let a of rm.name.split(' ')">{{a | titlecase}} &nbsp;{{rm.count}}</div>
    </li>
    <div *ngIf="this.audi_id != '205126'">
      <li *ngFor="let rm of Rightmenu" (click)="openRigthMenu(rm.name)">
        <img src="{{rm.img}}" alt="">
        <div *ngFor="let a of rm.name.split(' ')">{{a | titlecase}}</div>
      </li>
      <li *ngIf="this.audi_id == '205128'" (click)="caseStudy('socratix')">
        <img src="assets/icons/quiz.png" alt="">
        <div>Casestudy<br> Compilation</div>
      </li>
      <li *ngIf="this.audi_id == '205128'" (click)="caseStudy5()">
        <img src="assets/icons/quiz.png" alt="">
        <div style="font-weight: 900;">Current<br> Casestudy</div>
      </li>
      <li *ngIf="this.audi_id == '205130'" (click)="caseStudy4()">
        <img src="assets/icons/quiz.png" alt="">
        <div>Casestudy<br> Compilation</div>
      </li>
      <li *ngIf="this.audi_id == '205130'" (click)="caseStudy2('rytink')">
        <img src="assets/icons/quiz.png" alt="">
        <div style="font-weight: 900;">Current<br> Casestudy</div>
      </li>
      <li *ngIf="this.audi_id == '205129'" (click)="caseStudy3('mercurix')">
        <img src="assets/icons/quiz.png" alt="">
        <div>Stories</div>
      </li>
    </div>
  </ul>
</div>
<!-- <div id="rightMenu_section">
    <ul id="rightMenu_list"> -->

<!-- <li *ngFor="let rm of Rightmenu" (click)="openRigthMenu(rm.name)">
            <img src="{{rm.img}}" alt="">
            <div *ngFor="let a of rm.name.split(' ')">{{a | titlecase}}</div>
        </li> -->
<!-- </ul>
</div> -->
<div id="setAudio"></div>
<div class="container-fluid" style="background-color: red;">
  <div class="row">
    <div class="animation-part">
      <section class="sticky">
        <div class="bubbles" *ngIf="like">
          <div class="bubble"> <img [src]="imag" alt="" srcset=""> </div>
          <div class="bubble"> <img [src]="imag" alt="" srcset=""> </div>
          <div class="bubble"> <img [src]="imag" alt="" srcset=""> </div>
          <!-- <div class="bubble" style="background-color: #f1f1f1;"></div> -->
          <div class="bubble"></div>
          <div class="bubble"></div>
          <!-- <div class="bubble" style="background-color: #f1f1f1;"></div> -->
          <div class="bubble"></div>
          <!-- <div class="bubble" style="background-color: #f1f1f1;"></div> -->
          <div class="bubble"><img [src]="imag" alt="" srcset=""></div>
          <div class="bubble"><img [src]="imag" alt="" srcset=""></div>
        </div>
      </section>
    </div>
  </div>
</div>


<div class="modal fade" id="socratix" tabindex="-1" aria-labelledby="socratixLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-body p-0">
        <div id="modal_popup">
          <div id="close_modal_popup" (click)="closeModal()">&times;</div>
          <div class="modal-header bg-primary text-white">
            <h5 class="modal-title" id="socratixLabel">Socratix Casestudy</h5>
          </div>
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-12 col-xl-12 p-0" style="text-align: center;">
                <!-- <div [ngSwitch]="rName"> -->
                <!-- <object data="assets/event/socratix.pdf" type="application/pdf" width="100%" height=640>
                  <p>Your web browser doesn't have a PDF plugin.
                    Instead you can <a href="assets/event/socratix.pdf">click here to
                      download the PDF file.</a></p>
                </object> -->
                <embed height="640" [src]=pdfDataSocratix2 frameborder="0" width="100%">
                <!-- </div> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="socratixcurrent" tabindex="-1" aria-labelledby="socratixcurrentLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-body p-0">
        <div id="modal_popup">
          <div id="close_modal_popup" (click)="closeModal()">&times;</div>
          <div class="modal-header bg-primary text-white">
            <h5 class="modal-title" id="socratixcurrentLabel">Socratix Current Casestudy</h5>
          </div>
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-12 col-xl-12 p-0" style="text-align: center;">
                <!-- <div [ngSwitch]="rName"> -->
                <embed height="640" width="100%" [src]=pdfDataSocratix frameborder="0">
                <!-- </div> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="rytink" tabindex="-1" aria-labelledby="rytinkLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-body p-0">
        <div id="modal_popup">
          <div id="close_modal_popup" (click)="closeModal()">&times;</div>
          <div class="modal-header bg-primary text-white">
            <h5 class="modal-title" id="rytinkLabel">Rytink Current Casestudy</h5>
          </div>
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-12 col-xl-12 p-0" style="text-align: center;">
                <!-- <div [ngSwitch]="rName"> -->
                <embed height="640" width="100%" [src]=pdfData frameborder="0">
                <!-- </div> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="currentrytink" tabindex="-1" aria-labelledby="currentrytinkLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-body p-0">
        <div id="modal_popup">
          <div id="close_modal_popup" (click)="closeModal()">&times;</div>
          <div class="modal-header bg-primary text-white">
            <h5 class="modal-title" id="currentrytinkLabel">Rytink Casestudy Compilation</h5>
          </div>
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-12 col-xl-12 p-0" style="text-align: center;">
                <!-- <div [ngSwitch]="rName"> -->
                <embed height="640" width="100%" [src]=pdfData2 frameborder="0">
                <!-- </div> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="mercurix" tabindex="-1" aria-labelledby="mercurixLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" id="ModalPlay">
    <div class="modal-content">
      <div class="modal-body p-0">
        <div id="modal_popup">
          <div id="close_modal_popup" (click)="closeDocs()">&times;</div>
          <div class="modal-header bg-primary text-white">
            <h5 class="modal-title" id="mercurixLabel">Mercurix Stories</h5>
          </div>
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-12 col-xl-12 p-0">
                <div id="popupData">
                </div>
                <div id="popupDocsData">
                  <div style="height: 451px;overflow: auto;" class="m-3">

                    <table class="table table-hover">
                      <thead>
                        <tr>
                          <th scope="col">#</th>
                          <th scope="col">Name</th>
                          <th scope="col">View</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>1</td>
                          <td>Abhishek Sonowal</td>
                          <td>
                            <a href="https://d3ep09c8x21fmh.cloudfront.net/bpcldocs/mercurix/ABHILEKH SONOWAL.pdf"
                              target="_blank">
                              <i class="fa fa-eye" aria-hidden="true" style="font-size: 24px;"></i>
                            </a>
                          </td>
                        </tr>
                        <tr>
                          <td>2</td>
                          <td>Bal Krishna</td>
                          <td>
                            <a href="https://d3ep09c8x21fmh.cloudfront.net/bpcldocs/mercurix/Bal Krishna.pdf"
                              target="_blank">
                              <i class="fa fa-eye" aria-hidden="true" style="font-size: 24px;"></i>
                            </a>
                          </td>
                        </tr>
                        <tr>
                          <td>3</td>
                          <td>D Aarthi Rakshana</td>
                          <td>
                            <a href="https://d3ep09c8x21fmh.cloudfront.net/bpcldocs/mercurix/D AARTHI RAKSHANA.pdf"
                              target="_blank">
                              <i class="fa fa-eye" aria-hidden="true" style="font-size: 24px;"></i>
                            </a>
                          </td>
                        </tr>
                        <tr>
                          <td>4</td>
                          <td>Malhotra A P S</td>
                          <td>
                            <a href="https://d3ep09c8x21fmh.cloudfront.net/bpcldocs/mercurix/Malhotra A P S.pdf"
                              target="_blank">
                              <i class="fa fa-eye" aria-hidden="true" style="font-size: 24px;"></i>
                            </a>
                          </td>
                        </tr>
                        <tr>
                          <td>5</td>
                          <td>Manoj Jadhav</td>
                          <td>
                            <a href="https://d3ep09c8x21fmh.cloudfront.net/bpcldocs/mercurix/Manoj Jadhav.pdf"
                              target="_blank">
                              <i class="fa fa-eye" aria-hidden="true" style="font-size: 24px;"></i>
                            </a>
                          </td>
                        </tr>
                        <tr>
                          <td>6</td>
                          <td>Rabindra Kumar</td>
                          <td>
                            <a href="https://d3ep09c8x21fmh.cloudfront.net/bpcldocs/mercurix/Rabindra Kumar.pdf"
                              target="_blank">
                              <i class="fa fa-eye" aria-hidden="true" style="font-size: 24px;"></i>
                            </a>
                          </td>
                        </tr>
                        <tr>
                          <td>7</td>
                          <td>Rakesh Vankayala</td>
                          <td>
                            <a href="https://d3ep09c8x21fmh.cloudfront.net/bpcldocs/mercurix/RAKESH VANKAYALA.pdf"
                              target="_blank">
                              <i class="fa fa-eye" aria-hidden="true" style="font-size: 24px;"></i>
                            </a>
                          </td>
                        </tr>
                        <tr>
                          <td>8</td>
                          <td>Rohit Singhania</td>
                          <td>
                            <a href="https://d3ep09c8x21fmh.cloudfront.net/bpcldocs/mercurix/Rohit Singhania.pdf"
                              target="_blank">
                              <i class="fa fa-eye" aria-hidden="true" style="font-size: 24px;"></i>
                            </a>
                          </td>
                        </tr>
                        <tr>
                          <td>9</td>
                          <td>Sridhar T N</td>
                          <td>
                            <a href="https://d3ep09c8x21fmh.cloudfront.net/bpcldocs/mercurix/Sridhar T N.pdf"
                              target="_blank">
                              <i class="fa fa-eye" aria-hidden="true" style="font-size: 24px;"></i>
                            </a>
                          </td>
                        </tr>
                        <tr>
                          <td>10</td>
                          <td>Susan John</td>
                          <td>
                            <a href="https://d3ep09c8x21fmh.cloudfront.net/bpcldocs/mercurix/Susan John.pdf"
                              target="_blank">
                              <i class="fa fa-eye" aria-hidden="true" style="font-size: 24px;"></i>
                            </a>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>