<section id="bg_section">
    <!-- <div id="onloadPlayer">
        <video id="centerPlay" width="100%" muted preload="auto" playsinline autoplay loop>
            <source src="https://d3ep09c8x21fmh.cloudfront.net/sanofi/conclave2022.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video> 
    </div>
    <div id="onloadPlayer3">
        <video id="centerPlay" width="100%" muted preload="auto" playsinline autoplay loop controls>
            <source src="https://d3ep09c8x21fmh.cloudfront.net/sanofi/lobbycentervideo.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video> 
      </div>
    <div id="onloadPlayer2">
      <video id="centerPlay" width="100%" muted preload="auto" playsinline autoplay loop>
          <source src="https://d3ep09c8x21fmh.cloudfront.net/sanofi/conclave2022.mp4" type="video/mp4">
          Your browser does not support the video tag.
      </video> 
    </div> -->
    <div id="content_section">
        <img id="bgimg" src="assets/event/helpdesk.jpg" alt="">
        <div *ngFor="let p of pointers" title="{{p.title | titlecase}}" data-bs-toggle="tooltip" data-bs-placement="top" [ngClass]="p.class" [ngStyle]="{'top':p.top+'%','left':p.left+'%'}" (click)="pointerMethod(p)">
            <div class="pulsating-circle"></div>
        </div>
    </div>
</section>
<app-pdfmodal [rName]="sName"></app-pdfmodal>

