<section id="bg_section">
    <div id="content_section">
        <img id="bgimg" alt="" src="assets/event/stories.jpg">
        <!-- <div class="e1" routerLink="/business">
            <div class="pulsating-circle"></div>
        </div> -->
        <div class="e2" routerLink="/bpclstoryarchive">
            <div class="pulsating-circle"></div>
        </div>
        <!-- <div class="e3" routerLink="/passion">
            <div class="pulsating-circle"></div>
        </div> -->
    </div>
</section>