.e1{
    position: absolute;
    height: 4%;
    width: 4%;
    // background-color: black;
    left: 40.9%;
    top: 55%;
    cursor: pointer;
    .pulsating-circle{
        position: absolute;
        top: 50%;
        left: 50%;
    }
  }

  .e2{
    position: absolute;
    height: 4%;
    width: 4%;
    // background-color: black;
    left: 52.15%;
    top: 48.5%;
    cursor: pointer;
    .pulsating-circle{
        position: absolute;
        top: 50%;
        left: 50%;
    }
  }

  .e3{
    position: absolute;
    height: 4%;
    width: 4%;
    // background-color: black;
    left: 70.4%;
    top: 56%;
    cursor: pointer;
    .pulsating-circle{
        position: absolute;
        top: 50%;
        left: 50%;
    }
  }