section{
    position: relative;
    width: 100%;
    height: 100%;
    .content-wrap{
        position: relative;
        width: 100%;
        height: 100%;
        #bg{
            img{
            //   width: 100%;
            //   height: 100vh;
              object-fit: fill;
            }
        }
    }
}

  
    #modal-video{
      border-radius:5px; 
      padding: 0 3px;   
      position: relative;
      top: 3px;
      #closePopup{
        position: absolute;
        top: -16px;
        right: -16px;
        line-height: 32px;
        font-size: 40px;
        background: #e40e38;
        border-radius: 50%;
        height: 30px;
        width: 30px;
        text-align: center;
        color: white;
        font-weight: 500;
        z-index: 1000;
        cursor: pointer;
      }
    }
    video:focus {
      outline: -webkit-focus-ring-color auto 0px !important;
  }