<div class="modal fade" id="poll_modal" tabindex="-1" aria-labelledby="poll_modalLabel" aria-hidden="true">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-body p-0">
        <div id="modal_popup">
          <div id="close_modal_popup" (click)="closeModal()">&times;</div>
          <div class="modal-header text-white" style="background-color:#ac3141">
            <h5 class="modal-title" id="poll_modalLabel">Quiz Session</h5>
          </div>
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-12 col-xl-12 p-0 mb-3">
                <ng-container *ngIf="lol">
                  <div class="m-3" *ngFor="let poll of pollingList">
                    <div id="poll_question">
                      <b>Question:</b>
                      <form [formGroup]="pollForm">
                        <p>{{poll.title}}</p>
                        <div *ngFor="let choice of poll.options">
                          <label *ngIf="choice.choice != ''" style="cursor:pointer">
                            <input formControlName='polling' type="radio" value="{{choice.choice}}">
                            &nbsp;{{choice.choice}}</label>

                        </div>
                        <div class="mt-4 mb-2">
                          <input type="button" class="btn submitBtn" (click)="pollSubmit(poll.id)" value="Submit" />
                        </div>
                      </form>
                    </div>
                  </div>
                </ng-container>
                <ng-container *ngIf="shown">
                  <!--  <div class="span6">
                      <h5>Poll: Where do you usually browse</h5>
                      <strong>Windows PC</strong><span class="pull-right">30%</span>
                      <div class="progress progress-danger active">
                          <div class="bar" style="width: 30%;"></div>
                      </div>
                      <strong>Mac</strong><span class="pull-right">40%</span>
                      <div class="progress progress-info active">
                          <div class="bar" style="width: 40%;"></div>
                      </div>
                      <strong>iPad/iPhone</strong><span class="pull-right">10%</span>
                      <div class="progress progress-striped active">
                          <div class="bar" style="width: 10%;"></div>
                      </div>
                      <strong>Android</strong><span class="pull-right">5%</span>
                      <div class="progress progress-success active">
                          <div class="bar" style="width: 5%;"></div>
                      </div>
                      <strong>Others</strong><span class="pull-right">15%</span>
                      <div class="progress progress-warning active">
                          <div class="bar" style="width: 15%;"></div>
                      </div>
                      <p>
                          <a href="#" class="btn btn-large btn-success">Vote</a>
                        <a href="#" class="pull-right">View detailed results</a>
                      </p>
                    </div> -->
                  <!--  <div id="thanksQuiz" >
                      <div class="pollBars" *ngFor="let b of result">
                        <span>{{b.choice}}</span>
                     <div class="t1" [ngStyle]="{'width' : b.percentage + '%' }">{{b.percentage+'%'}}</div>
                   
                    </div>
                    </div>  -->

                  <!-- <div class='barcontainer'style="height:400px">
                                   
                      <div class='bar' *ngFor="let b of result" [ngStyle]="{'height' : b.percentage + '%' }">
                       {{b.percentage+'%'}}
                        <div class='barlabel'>
                          {{b.choice}}
                        </div>
                      </div>
                
                    </div> -->
                  <div class="flex-container">
                    <div *ngFor="let b of result" style="margin-right:5px;">
                      <div [ngStyle]="{'height' : b.percentage + '%', 'background': '#65c8c8' }" class="percentage">{{b.percentage+'%'}}</div>
                      <div class="labelname">{{b.choice}}</div>
                    </div>


                    <!-- <div>1</div>
                      <div>2</div>
                      <div>3</div>  
                      <div>5</div>
                      <div>6</div>   -->
                  </div>

                </ng-container>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>