<section id="bg_section">
    <div id="content_section">
        <div id="player_section" [ngStyle]="{'top':audiObj.player_top+'%', 'left':audiObj.player_left+'%'}">
            <div id="player-wrapper" class="player-container"></div>
        </div>
        <!-- {{audiObj?.banner}} -->
        <img style="height: auto !important;" id="bgimg" [src]="(audiObj?.banner != '') ? audiObj?.banner : myImgUrl"
            alt="">
        <app-audi-menu></app-audi-menu>
        <div *ngIf="auditorium_id == '205127'" class="e1" routerLink="/archiveipassion">
            <div class="pulsating-circle"></div>
        </div>
        <div *ngIf="auditorium_id == '205128'" class="e2" routerLink="/archivesocratix">
            <div class="pulsating-circle"></div>
        </div>
        <div *ngIf="auditorium_id == '205129'" class="e3" routerLink="/archivemercurix">
            <div class="pulsating-circle"></div>
        </div>
        <div *ngIf="auditorium_id == '205130'" class="e4" routerLink="/archiverytink">
            <div class="pulsating-circle"></div>
        </div>
        
    </div>
</section>
<app-ask-question></app-ask-question>
<app-poll></app-poll>
<app-group-chat></app-group-chat>
<app-quiz></app-quiz>