#player_section{
    position: absolute;
    // top: 17%;
    // left: 28%;
}
.e1{
    position: absolute;
    height: 4%;
    width: 4%;
    // background-color: black;
    left: 60.6%;
    bottom: 26.6%;

    cursor: pointer;
    .pulsating-circle{
        position: absolute;
        top: 50%;
        left: 50%;
    }
  }
  .e2{
    position: absolute;
    height: 4%;
    width: 4%;
    // background-color: black;
    left: 59.8%;
    bottom: 29%;



    cursor: pointer;
    .pulsating-circle{
        position: absolute;
        top: 50%;
        left: 50%;
    }
  }
  .e3{
    position: absolute;
    height: 4%;
    width: 4%;
    // background-color: black;
    left: 58.8%;
    bottom: 26.3%;

    cursor: pointer;
    .pulsating-circle{
        position: absolute;
        top: 50%;
        left: 50%;
    }
  }
  .e4{
    position: absolute;
    height: 4%;
    width: 4%;
    // background-color: black;
    
    left: 58.84%;
    bottom: 27.3%;


    cursor: pointer;
    .pulsating-circle{
        position: absolute;
        top: 50%;
        left: 50%;
    }
  }