<section id="bg_section" [ngStyle]="{'display':isVideoPlayed? 'none':'block'}">
    <div id="content_section">
        <img id="bgimg" src="assets/event/outer.jpg" class="web_image" alt="">
        <div class="text-center">
            <img id="bgimg" src="assets/images/mob_logo.png" class="mob_image text-center" alt="" style="top: 30%;
            left: 50%; transform: translate(-50%,-50%); position: absolute;
            width: 80%;">
        </div>

        <img id="bgimg" src="assets/images/background_9x16.jpg" class="mob_image" alt="">
        <div id="login_section">
            <!-- <img src="assets/event/logo.png"  class="web_image" width="100%" alt=""> -->

            <h3 style="color: black; font-weight: 700;" class="text-left mt-1">LOGIN</h3>
            <form [formGroup]="loginForm" #loginFormDir="ngForm" (ngSubmit)="submitLogin()">
                <div class="form-group mt-4">
                    <h5 style="color: #2075be; font-weight: 700;" class="text-left mt-1">Name</h5>

                    <div class="invalidError"
                        *ngIf="(loginForm.get('name').invalid && loginFormDir.submitted) || (loginForm.get('name').dirty && loginForm.get('name').invalid)">
                        Name is Required*
                    </div>
                    <input type="text" class="form-control" required autocomplete="off" formControlName="name"
                        placeholder="Lorem Ipsum">
                </div>
                <div class="form-group mt-4">
                    <h5 style="color: #2075be; font-weight: 700;" class="text-left mt-1">Email ID</h5>

                    <!-- <div class="invalidError"
                        *ngIf="(loginForm.get('email').invalid && loginFormDir.submitted) || (loginForm.get('email').dirty && loginForm.get('email').invalid)">
                        Email ID is Required*
                    </div> -->
                    <input type="email" class="form-control" required autocomplete="off" formControlName="email"
                        placeholder="abc22@bpcl.com">
                </div>
                <div class="form-group mt-4">
                    <h5 style="color: #2075be; font-weight: 700;" class="text-left mt-1">Mobile No.</h5>

                    <!-- <div class="invalidError"
                        *ngIf="(loginForm.get('mobile').invalid && loginFormDir.submitted) || (loginForm.get('mobile').dirty && loginForm.get('mobile').invalid)">
                        Mobile No. is Required*
                    </div> -->
                    <input type="number" class="form-control" required autocomplete="off" formControlName="mobile"
                        placeholder="98xxxxxx84">
                </div>
                <!-- <div class="form-group">
                    <div class="invalidError" *ngIf="(loginForm.get('terms').invalid && loginFormDir.submitted) || (loginForm.get('terms').dirty && loginForm.get('terms').invalid)">
                        Terms & Conditions is Required*
                    </div>
                    <input type="checkbox" id="checkbox" name="" value="" formControlName="terms" required>
                    <label class="text-left" for="checkbox" style="width: 80%;
                    top: 15px;
                    position: relative;"><span style="color: #000;">I hereby declare that I am a Registered Medical Practitioner (RMP) and can attend the Vaccines Conclave 2022 meeting. This meeting is intended only for invited HCPs by Sanofi.</span></label>
                </div> -->
                <div id="submitBtn">
                    <input name="login" id="loginbtn" class="btn" type="submit" value="LOGIN">

                </div>

            </form>
            <!-- <div id="already_reg" class="text-center">
                <h6 style="color: #8463e2;"><span>If not registered <a routerLink="/signup" >clickhere</a> </span></h6>
            </div> -->
        </div>
    </div>
</section>
<div [ngStyle]="{'display':isVideoPlayed? 'block': 'none'}" class="videoContainer">
    <span id="skip" *ngIf="isVideoPlayed">
        <a class="nav-link sign" (click)="skip()" title="skip" role="button">
            Skip</a>
    </span>
    <video id="outerVideo" preload="auto" class="videoBg" (ended)="endVideo()" playsinline>
        <source src="https://d3ep09c8x21fmh.cloudfront.net/sanofi/outer.mp4" type="video/mp4">
    </video>
</div>
<!-- <div id="underprogress">
    <p>Something Awsome will be coming soon...</p>
</div> -->