#skip{
    position: absolute;
    top: 10px;
    left: 30px;
    background: white !important;
    z-index: 100000;
    font-weight: 600;
    font-size: 14px;
    border-radius: 25px;
    padding: 2px 10px;
    cursor: pointer;
    box-shadow: 0px 5px 12px 0 rgba(0, 0, 0, 0.5);
    a{
        text-transform: capitalize;
        color: black;
    }
  }

  .reception {
    position: absolute;
    bottom: 6%;
    left: 6%;
    cursor: pointer;
    // background: black;
    height: 6vw;
    width: 12vw;       
.pulsating-circle{
    position: absolute;
    top: 50%;
    left: 50%;
    cursor: pointer;
}
}