.e1{
    position: absolute;
    height: 4%;
    width: 4%;
    // background-color: black;
    left: 28%;
    top: 37%;
    cursor: pointer;
    .pulsating-circle{
        position: absolute;
        top: 50%;
        left: 50%;
    }
  }

  .e2{
    position: absolute;
    height: 4%;
    width: 4%;
    // background-color: black;
    left: 48%;
    top: 38%;
    cursor: pointer;
    .pulsating-circle{
        position: absolute;
        top: 50%;
        left: 50%;
    }
  }


  .e3{
    position: absolute;
    height: 4%;
    width: 4%;
    // background-color: black;
    left: 68.3%;
    top: 38%;
    cursor: pointer;
    .pulsating-circle{
        position: absolute;
        top: 50%;
        left: 50%;
    }
  }