
<!-- <ul class="notification-drop">
  <li class="item">
    <i class="fa fa-bell-o notification-bell" aria-hidden="true"></i> <span class="btn__badge pulse-button ">4</span>     
    <ul>
      <li>First Item</li>
      <li>Second Item</li>
      <li>Third Item</li>
    </ul>
  </li>
</ul> -->
<section id="bg_section" [ngStyle]="{'display':isVideoPlayed? 'none':'block'}">
  <!-- <div id="onloadPlayer">
    <video id="centerPlay"  width="100%" muted preload="auto" playsinline autoplay loop>
        <source src="https://d3ep09c8x21fmh.cloudfront.net/sanofi/conclave2022.mp4" type="video/mp4">
        Your browser does not support the video tag.
    </video> 
</div> -->
<div id="onloadPlayer3">
  <video id="centerPlay2" width="100%"  loop playsinline autoplay controls src="https://d3ep09c8x21fmh.cloudfront.net/bpclvideo/Welcome_Lobby.mp4">
     
  </video> 
</div>
<!-- <div id="onloadPlayer2">
  <video id="centerPlay" width="100%" muted preload="auto" playsinline autoplay loop>
      <source src="https://d3ep09c8x21fmh.cloudfront.net/sanofi/conclave2022.mp4" type="video/mp4">
      Your browser does not support the video tag.
  </video> 
</div> -->
    <div id="content_section">
        <!-- <img id="bgimg" src="assets/event/lobby.jpg" alt=""> -->
        <img id="bgimg" [src]="lobbyImage" alt="">
        <ng-container *ngFor="let p of pointers">
          <div *ngIf="p.is_enabled === true" data-bs-toggle="tooltip" id="{{p.class}}" data-bs-placement="top" title="{{p.title | titlecase}}" [ngClass]="p.class" [ngStyle]="{'top':p.top+'%','left':p.left+'%'}" (click)="pointerMethod(p)">
            <div class="pulsating-circle"></div>
          </div>
        </ng-container>        
    </div>
</section>



<div [ngStyle]="{'display':isVideoPlayed? 'block': 'none'}" class="videoContainer">
  <span id="skip" *ngIf="isVideoPlayed">
    <a class="nav-link sign" (click)="skip()" title="skip" role="button">
        Skip</a>
  </span>
    <video id="pointerVideo" preload="auto" class="videoBg" (ended)="endVideo()" poster="assets/event/lobby.jpg" style="position: relative;
    z-index: 99;" playsinline>
      <source src="https://d3ep09c8x21fmh.cloudfront.net/tie_iid/outer.mp4" type="video/mp4">
    </video>
</div>
<app-pdfmodal [rName]="sName"></app-pdfmodal>



 
  
  





<!-- <button id="startTour" class="start-tour">start tour</button> -->

<!-- <div class="my-title">IntroJS Tour Example</div>
<div class="my-container">
  <div id="one" class="a-section">one</div>
  <div id="two" class="a-section">two</div>
  
  <div class="clear">
    <button id="startTour" class="start-tour">start tour</button>
  </div>
</div> -->

