
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}



@font-face {
    font-family: "ARIAACB";
    src: url("../../assets/fonts/ARIAACB.TTF") format("truetype");
  }
  @font-face {
    font-family: "Avgardm";
    src: url("../../assets/fonts/ARIAACB.TTF") format("truetype");
  }
  @font-face {
    font-family: "SanofiSans-BoldItalic";
    src: url("../../assets/fonts/SanofiSans-BoldItalic.ttf") format("truetype");
  }
  @font-face {
    font-family: "SanofiSans-Regular";
    src: url("../../assets/fonts/SanofiSans-Regular.ttf") format("truetype");
  }
  @font-face {
    font-family: "SanofiSerif-Italic";
    src: url("../../assets/fonts/SanofiSerif-Italic.ttf") format("truetype");
  }

input{
    padding: 8px;
}

  ::placeholder {
    color: #ffffff !important;
  }
  ::-webkit-scrollbar {
    display: none;
  }
  * {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: "Poppins";
    color: #000000;
  }
  .fixed_img {
    position: fixed;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
    object-position: center;
    -o-object-fit: cover;
  }
  .desktop {
    display: block;
  }
  .mobile {
    display: none;
  }
  .registration {
    width: 100%;
    height: 100vh;
    position: relative;
  }
  .registration .sanofi_logo {
    text-align: right;
    width: 10%;
    margin: auto;
    position: fixed;
    left: auto;
    right: 3.5%;
    padding-top: 2%;
    z-index: 1;
  }
  .registration .reg_form {
    width: 30%;
    height: 100%;
    margin: auto;
    margin-right: 15%;
    padding-top: 8%;
    z-index: 1;
  }
  .registration .reg_form .heading {
    font-size: clamp(0.7rem, 1.5vw, 3rem);
    text-align: center;
    color: #6e0ac4;
    padding: 1.5rem 0;
    margin: 0;
    font-weight: 700;
    /* font-family: "ARIAACB"; */
  }
  .registration .reg_form .form-group {
    margin-bottom: 5px;
  }
  .registration .reg_form .form-group .form-control {
    background: #c0a3ef;
    border: 0;
    border-radius: 25px;
    color: #fff;
    font-size: clamp(0.7rem, 1vw, 3rem);
  }
  .registration .reg_form .submit_btn {
    text-align: center;
  }
  .registration .reg_form .submit_btn .btn {
    background: #6e0ac4 !important;
    border: 0;
    border-radius: 25px;
    color: #ffffff;
    width: 25%;
    margin: auto;
    font-size: clamp(0.7rem, 1vw, 3rem);
    margin: 0;
    margin-top: 1rem;
  }
  .mandatory {
    position: fixed;
    color: #000000;
    bottom: 2%;
    left: auto;
    right: 2%;
    font-size: 13px;
  }
  

  @media (max-width: 767px) and (orientation: portrait) {
    .desktop {
      display: none !important;
    }
    .mobile {
      display: block !important;
    }
    .registration .sanofi_logo {
      width: 17%;
    }
    .registration .reg_form {
      width: 75%;
      height: 100%;
      margin: auto;
      margin-right: auto;
    }
    .registration .reg_form .logo {
      width: 100%;
      margin: auto;
      display: none;
    }
    .registration .reg_form .heading {
      padding: 0.5rem 0;
    }
    .registration .reg_form .submit_btn .btn {
      margin-top: 0.5rem;
    }
    .mandatory {
      font-size: 10px;
    }
    label{
      font-size: 7px !important;
    }
  }
  @media (min-width: 767px) and (orientation: landscape) {
    .desktop {
      display: block !important;
    }
    .mobile {
      display: none !important;
    }
    .registration .reg_form .heading {
      padding: 0.5rem 0;
    }
    .registration .reg_form .logo {
      width: 100%;
      margin: auto;
    }
    .registration .reg_form .submit_btn .btn {
      margin-top: 0.5rem;
      text-align: center;
      width: 40%;
    }
    .registration .reg_form {
      padding-top: 4%;
    }
  }
  @media screen and (max-width: 900px) {
    label{
      font-size: 7px !important;
    }
  }
  @media screen and (min-width: 768px) and (max-width: 992px) {
    .desktop {
      display: block !important;
    }
    .mobile {
      display: none !important;
    }
    .registration .reg_form .heading {
      padding: 0.5rem 0;
    }
    .registration .reg_form .submit_btn .btn {
      margin-top: 0.5rem;
      text-align: center;
      width: 40%;
    }
    .registration .reg_form {
      padding-top: 4%;
    }
    .registration .reg_form .logo {
      width: 100%;
      margin: auto;
    }
  }
  



  input[type=checkbox], input[type=radio] {
    box-sizing: border-box;
    position: relative;
    top: 4px;
    margin: 6px;
  }

  label{
    font-size: 10px;
  }