.bg{    
    background-image: url("../../assets/ipa/background.jpg");

    /* Full height */
    height: 100vh; 
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

span {
    color: rgb(231, 6, 6);
    font-weight: bold;
}

label {
  font-size: 14px;
    font-weight: 500;
    color: rgb(10 152 143);
    line-height: 2.5;
    position: relative;
    top: 10px;
    margin: 5px;
}

input {
    border: none !important;
    background-color: rgb(238, 241, 241)!important;
}

textarea {
    border: 2px solid rgb(3, 123, 160)!important;
    border-radius: 10px !important;
}

.logo-img {
    text-align: center;
}

.logo {
    height: 150px;
}

.form {
    width: 45%;
    margin: 2% 30%;
}

.form p {
    color: rgb(3, 123, 160);
    font-weight: 500;
    font-size: 14px;
    padding-top: 4%;
}

.submit-button {
        padding: 7px 13px;
    border-radius: 14px;
    border: none;
    color: #fff;
    font-size: 15px;
    background: linear-gradient( 
181deg, rgb(61 139 133), rgb(5 150 140), rgb(12 38 36));
}

.reg-btn {
    text-align: center;
    margin-top: 4%;
}

.form-heading {
    text-align: center;
}

@media screen and (max-width:475px) {
    .form {
        width: 95%;
        margin: 4% 3%;
    }
}

.hrs hr{
    border-top: 2px solid #04958b;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.sb-btn  {
    padding: 3px 10px;
    border-radius: 8px !important;
    border: none;
    color: #fff;
    font-size: 18px;
    background-color: #0c998f !important;
}

.para {
    text-align: center!important;
    text-transform: uppercase;
    font-size: 15px;
    color: #565454;
} 
