section{
    position: relative;
    width: 100%;
    height: 100%;
    .content-wrap{
        position: relative;
        width: 100%;
        height: 100%;
        #bg{
            img{
              width: 100%;
              height: 100vh;
              object-fit: fill;
            }
        }
    }
}

#pointer_1{
    position: absolute;
    width: 7%;
    height: 7%;
    top: 50%;
    left: 19%;
    cursor: pointer;
    .pulsating-circle{
        position: absolute;
        top: 50%;
        left: 50%;
    }
}
#pointer_2{
    position: absolute;
    width: 7%;
    height: 7%;
    top: 50%;
    right: 48%;
    cursor: pointer;
    .pulsating-circle{
        position: absolute;
        top: 50%;
        left: 50%;
    }
}

#popup{
    background: #000000c9;
    padding: 5px;
    .chat_section{
      background: #292F35;
      .popup_header{
        height: 40px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        color: #fff;
  
        .close {
          position: absolute;
          right: 7px;
          width: 24px;
          height: 28px;
          opacity: 0.5;
        }
        .close:hover {
          opacity: 1;
        }
        .close:before, .close:after {
          position: absolute;
          right: 7px;
          content: ' ';
          height: 28px;
          width: 2px;
          background-color: #fff;
        }
        .close:before {
          transform: rotate(45deg);
        }
        .close:after {
          transform: rotate(-45deg);
        }
  
      }
    }
  }
  #back{
    position: absolute;
    top: 10px;
    left: 50px;
    background: #141433;
    color: white;
    z-index: 100;
    font-weight: 600;
    font-size: 14px;
    // padding: 2px;
    border: 1px solid #060a39;
    border-radius: 25px;
    cursor: pointer;
    margin-left: 0px;
    a{
        text-transform: capitalize;
        color: white;
    }
  }

  .content {
    position: relative;
    display: flex;
    background: white;
    margin-top: 0.75rem;
}

.content .entry_img {
    width: 50%;
}

.content .entry_cnt {
    width: 50%;
    padding-left: 15px;
    height: 200px;
    padding-top: 10px;
    padding-right: 10px;
    position: relative;
}

.content .entry_img img {
    height: 200px;
    object-fit: cover;
    width: 100%;
}

.content .entry_cnt .vote {
    display: flex;
    // justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
    position: absolute;
    top: auto;
    bottom: 10px;
    left: 0;
    right: 0;
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;
}

.content .entry_cnt .vote .btn {
    border-radius: 0;
    border: 1px solid #000;
    padding: 3px 15px;
    font-size: 14px;
    margin-left: 20px;
    letter-spacing: 1px;
}
// .zoom:hover {
//     -ms-transform: scale(1.5); 
//     -webkit-transform: scale(1.5);
//     transform: scale(1.5); 
//     position: relative;
//     z-index: 999;
//   }


// Start from here

/*Eliminates padding, centers the thumbnail */

// body, html {
//   padding: 0;
//   margin: 0;
//   text-align: center;
//   }
  
  /* Styles the thumbnail */
  
  a.lightbox img {
  height: 150px;
  border: 3px solid white;
  box-shadow: 0px 0px 8px rgba(0,0,0,.3);
  margin: 94px 20px 20px 20px;
  }
  
  /* Styles the lightbox, removes it from sight and adds the fade-in transition */
  
  .lightbox-target {
  position: fixed;
  top: -100%;
  width: 100%;
  background: rgba(0,0,0,.7);
  width: 100%;
  opacity: 0;
  -webkit-transition: opacity .5s ease-in-out;
  -moz-transition: opacity .5s ease-in-out;
  -o-transition: opacity .5s ease-in-out;
  transition: opacity .5s ease-in-out;
  overflow: hidden;
   
  }
  
  /* Styles the lightbox image, centers it vertically and horizontally, adds the zoom-in transition and makes it responsive using a combination of margin and absolute positioning */
  
  .lightbox-target img {
  margin: auto;
  position: absolute;
  top: 0;
  left:0;
  right:0;
  bottom: 0;
  max-height: 0%;
  max-width: 0%;
  border: 3px solid white;
  box-shadow: 0px 0px 8px rgba(0,0,0,.3);
  box-sizing: border-box;
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
    
  }
  
  /* Styles the close link, adds the slide down transition */
  
  a.lightbox-close {
  display: block;
  width:50px;
  height:50px;
  box-sizing: border-box;
  background: white;
  color: black;
  text-decoration: none;
  position: absolute;
  top: -80px;
  right: 0;
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  }
  
  /* Provides part of the "X" to eliminate an image from the close link */
  
  a.lightbox-close:before {
  content: "";
  display: block;
  height: 30px;
  width: 1px;
  background: black;
  position: absolute;
  left: 26px;
  top:10px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -o-transform:rotate(45deg);
  transform:rotate(45deg);
  }
  
  /* Provides part of the "X" to eliminate an image from the close link */
  
  a.lightbox-close:after {
  content: "";
  display: block;
  height: 30px;
  width: 1px;
  background: black;
  position: absolute;
  left: 26px;
  top:10px;
  -webkit-transform:rotate(-45deg);
  -moz-transform:rotate(-45deg);
  -o-transform:rotate(-45deg);
  transform:rotate(-45deg);
  }
  
  /* Uses the :target pseudo-class to perform the animations upon clicking the .lightbox-target anchor */
  
  .lightbox-target:target {
  opacity: 1;
  top: 0;
  bottom: 0;
    overflow:scroll;
  }
  
  .lightbox-target:target img {
  max-height: 100%;
  max-width: 100%;
  }
  
  .lightbox-target:target a.lightbox-close {
  top: 0;
  }
  