.e1{
    position: absolute;
    height: 4%;
    width: 4%;
    // background-color: black;
    left: 35%;
    top: 39%;
    cursor: pointer;
    .pulsating-circle{
        position: absolute;
        top: 50%;
        left: 50%;
    }
  }

  .e2{
    position: absolute;
    height: 4%;
    width: 4%;
    // background-color: black;
    left: 61%;
    top: 39%;
    cursor: pointer;
    .pulsating-circle{
        position: absolute;
        top: 50%;
        left: 50%;
    }
  }