#player_section{
    height: 100vh;
}

#play-wrapper  {
    svg{
        height: 15% !important;

    }
}
.player-poster[data-poster] .play-wrapper[data-poster]{
    height: 15% !important;

}

.poster-icon{
    height: 50% !important;
}