<!-- <section id="bg_section">
    <div id="content_section">
        <img id="bgimg" alt="" src="assets/event/passion.jpg">
        <div class="e1" routerLink="/passion-gallery">
            <div class="pulsating-circle"></div>
        </div>
        <div class="e2" routerLink="/auditorium/stage/205127">
            <div class="pulsating-circle"></div>
        </div>
        <div class="e3" routerLink="/photobooth">
            <div class="pulsating-circle"></div>
        </div>
    </div>
</section>  -->


<section id="bg_section" [ngStyle]="{'display':isVideoPlayed? 'none':'block'}">
    <div id="content_section">
      <img id="bgimg" src="assets/event/passion.jpg" alt="">
      <ng-container *ngFor="let p of pointers">
        <div *ngIf="p.is_enabled === true" data-bs-toggle="tooltip" id="{{p.class}}" data-bs-placement="top"
           [ngClass]="p.class" [ngStyle]="{'top':p.top+'%','left':p.left+'%'}"
          (click)="pointerMethod(p)">
          <div class="pulsating-circle"></div>
        </div>
      </ng-container>
    </div>
  </section>
  
  
  <div [ngStyle]="{'display':isVideoPlayed? 'block': 'none'}" class="videoContainer">
    <span id="skip" *ngIf="isVideoPlayed">
      <a class="nav-link sign" (click)="skip()" title="skip" role="button">
        Skip</a>
    </span>
    <video id="pointerVideo" preload="auto" class="videoBg" (ended)="endVideo()" poster="assets/event/passion.jpg"
      playsinline style="position: relative; z-index: 99;">
      <source src="https://d3ep09c8x21fmh.cloudfront.net/bpclvideo/Tunnel-Socratix.mp4" type="video/mp4">
    </video>
  </div>

  <div class="modal fade" id="photoboothModal" tabindex="-1" role="dialog" aria-labelledby="photoboothModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-body p-0 m-1">
        <div id="close_modal_popup" (click)="closePhotobooth()">&times;</div>
        <section id="section">
          <div id="content-wrap">
            <div id="background">
              <div id="wholeCam" [ngStyle]="{'display':showImage? 'none': 'block'}">
                <img id="camImg" src="{{main_img}}" width="100%" alt="">
                <video #videoStream id="videobgStream" class="vid videoData" autoplay playsinline></video>
                <div id="buttons">
                  <img src="assets/event/photobooth_files/click.png" width="12%" (click)="capturePhoto()" alt="">
                </div>
                <!-- <button class="btn btn-success" (click)="showingBg()" style="position: absolute; top: 0; margin: 5px;"><i class="fa fa-bars"></i></button> -->
                <div id="bgplace" class="text-center">
                  <p class="m-2" style="color: #1592c5cf;">Background</p>
                  <div id="bgImgView">
                    <!-- <div>
                                  <p>Background</p>                             
                                </div> -->
                    <i class="fa fa-angle-up" (click)="moveTop()"></i>
                    <ul id="frameImg">
                      <li *ngFor="let x of frameImgs" (click)="changeFrameImg(x)">
                        <img src="{{x.img}}" alt="">
                      </li>
                    </ul>
                    <i class="fa fa-angle-down" (click)="moveDown()"></i>
                  </div>
                </div>
              </div>
              <div [ngStyle]="{'display':showImage? 'block': 'none'}">
                <canvas #canvas id="canvas" class="videobgStream" style="width: 100%;"></canvas>
                <div id="buttons">
                  <a href="{{img}}" download="screenshot.jpeg">
                    <img src="assets/event/photobooth_files/down.png" width="12%" (click)="downloadPic()" alt="">
                  </a>
                  <img src="assets/event/photobooth_files/re.png" width="12%" (click)="reload()" alt="">
                  <!-- <a class="share-btn" title="Share">
                                <i class="fa fa-share-alt"></i>
                              </a>                            -->
                </div>
                <!-- <div class="share-btn-container">
                                <a class="facebook-btn">
                                  <i class="fa fa-facebook"></i>
                                </a>
                            
                                <a class="twitter-btn">
                                  <i class="fa fa-twitter"></i>
                                </a>
                            
                                <a class="instagram-btn">
                                  <i class="fa fa-instagram"></i>
                                </a>
                            </div> -->
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</div>