<!-- <section id="bg_section">
    <div id="content_section">
        <img id="bgimg" alt="" src="assets/event/litwit.jpg">
        
        <div class="e2" (click)="openDocs()">
            <div class="pulsating-circle"></div>
        </div>
        
    </div>
</section>

<div class="modal fade" id="open_popup_modal" tabindex="-1" aria-labelledby="open_popup_modalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" id="ModalPlay">
      <div class="modal-content">
        <div class="modal-body p-0">
          <div id="modal_popup">
            <div id="close_modal_popup" (click)="closeDocs()">&times;</div>
            <div class="modal-header bg-primary text-white">
              <h5 class="modal-title" id="open_popup_modalLabel">Documents</h5>
            </div>
            <div class="container-fluid">
              <div class="row">
                <div class="col-md-12 col-xl-12 p-0">
                  <div id="popupData">
                  </div>
                  <div id="popupDocsData">
                    <div style="height: 451px;overflow: auto;" class="m-3">
                      
                      <table class="table table-hover">
                        <thead>
                          <tr>
                            <th scope="col">#</th>
                            
                            <th scope="col">Name</th>
                                                        <th scope="col">View</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let b of allDocs">
                            <td>{{b.id}}</td>
                                                        <td>{{b.name}}</td>
                            
                            <td>
                              <a href="{{b.image_path}}" target="_blank">
                                <i class="fa fa-eye" aria-hidden="true" style="font-size: 24px;"></i>
                              </a>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> -->

  
  
  <iframe style="height: 100vh;" width="100%" src="https://d3ep09c8x21fmh.cloudfront.net/LitWitGallery/index.html" frameborder="0" allowfullscreen></iframe>
