.e1{
    position: absolute;
    height: 10%;
    width: 81%;
    left: 10.5%;
    top: 36%;
    cursor: pointer;
    .pulsating-circle{
        position: absolute;
        top: 50%;
        left: 50%;
    }
  }

  .e2{
    position: absolute;
    height: 10%;
    width: 81%;
    left: 10%;
    top: 51%;
    cursor: pointer;
    .pulsating-circle{
        position: absolute;
        top: 50%;
        left: 50%;
    }
  }

  .e3{
    position: absolute;
    height: 10%;
    width: 81%;
    left: 9.5%;
    top: 66%;
    cursor: pointer;
    .pulsating-circle{
        position: absolute;
        top: 50%;
        left: 50%;
    }
  }