<div class="modal fade" id="pdf_modal" tabindex="-1" aria-labelledby="pdf_modalLabel" aria-hidden="true">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-body p-0">
        <div id="modal_popup">
          <div id="close_modal_popup" (click)="closeModal()">&times;</div>
          <div class="modal-header bg-primary text-white">
            <h5 class="modal-title" id="pdf_modalLabel">{{rName | titlecase}}</h5>
          </div>
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-12 col-xl-12 p-0" style="text-align: center;">
                <div [ngSwitch]="rName">
                  <div *ngSwitchCase="'speaker profile'" style="touch-action: pan-y !important;
                        overflow-y: scroll !important;">
                    <!-- <iframe _ngcontent-vet-c14="" id="iframe_feedback" frameborder="0" height="550" src="https://forms.gle/bJLEsiJUpLHgx4vn6" width="100%"></iframe> -->
                    <img src="assets/event/1.jpg" alt="" width="100%">
                    <img src="assets/event/2.jpg" alt="" width="100%">
                    <img src="assets/event/3.jpg" alt="" width="100%">
                    <img src="assets/event/4.jpg" alt="" width="100%">
                    <img src="assets/event/5.jpg" alt="" width="100%">
                    <!-- <iframe src="https://d3ep09c8x21fmh.cloudfront.net/sanofi/speakers.pdf" frameborder="0" width="100%" height="540"></iframe> -->

                  </div>
                  <div *ngSwitchCase="'agenda'">
                    <!-- <embed src="https://d3ep09c8x21fmh.cloudfront.net/sanofi/agenda.pdf" frameborder="0" width="100%" height="540"> -->
                    <img src="assets/event/agenda1.jpg" width="100%" alt="">
                    <div class="e1" (click)="openPopupSocratix()">
                      <div class="pulsating-circle"></div>
                    </div>
                    <div class="e2" (click)="openPopupMercurix()">
                      <div class="pulsating-circle"></div>
                    </div>
                    <div class="e3" (click)="openPopupRytink()">
                      <div class="pulsating-circle"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="socratixagenda" tabindex="-1" aria-labelledby="socratixagendaLabel" aria-hidden="true">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-body p-0">
        <div id="modal_popup">
          <div id="close_modal_popup" (click)="closeModal2()">&times;</div>
          <div class="modal-header bg-primary text-white">
            <h5 class="modal-title" id="socratixagendaLabel">Socratix Agenda</h5>
          </div>
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-12 col-xl-12 p-0" style="text-align: center;">
                <img src="assets/event/agenda3.jpg" width="100%" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="rytinkagenda" tabindex="-1" aria-labelledby="rytinkagendaLabel" aria-hidden="true">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-body p-0">
        <div id="modal_popup">
          <div id="close_modal_popup" (click)="closeModal2()">&times;</div>
          <div class="modal-header bg-primary text-white">
            <h5 class="modal-title" id="rytinkagendaLabel">Mercurix Agenda</h5>
          </div>
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-12 col-xl-12 p-0" style="text-align: center;">
                <img src="assets/event/agenda4.jpg" width="100%" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="mercurixagenda" tabindex="-1" aria-labelledby="mercurixagendaLabel" aria-hidden="true">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-body p-0">
        <div id="modal_popup">
          <div id="close_modal_popup" (click)="closeModal2()">&times;</div>
          <div class="modal-header bg-primary text-white">
            <h5 class="modal-title" id="mercurixagendaLabel">Rytink Agenda</h5>
          </div>
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-12 col-xl-12 p-0" style="text-align: center;">
                <img src="assets/event/agenda2.jpg" width="100%" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>